html, body {
    
    overflow-x: hidden;
}
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: white;
}
.line {
    width: 100%;
    height: 90%;
    border: 0.5px solid#575757;
    margin: 1px;
    display:inline-block;
  }
.pop {
    transition: transform .2s;
    padding: 0%;
    
}
.pop:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.05); 
  }


/* width */
::-webkit-scrollbar {
    width: 12px;
	background-color: #F5F5F5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212121;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #2a2a2a;
	background-color: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  p:first-letter{
    text-transform: uppercase;
  }

  @media screen and (min-width: 0px) and (max-width: 700px) {
    #ma { display: none; } 
    #stat { display: none; }
    #cr { display: none; } /* show it on small screens */
    #mob {display: block; }
    #stats {display: block; }
  }
  
  @media screen and (min-width: 701px) {
    #ma { display:block; }
    #cr { display:block; }
    #mob { display: none; } 
    #stats { display: none; } 
    #stat { display:block; }   /* hide it elsewhere */
  }

.de {
  color: white;
  font-family: 'Openr';
  
}
 
  .op {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .op-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .op:focus {
    outline: none;
  }
  
  .op:focus + .op-border {
    width: 100%;
  }
  
  .form-control {
    position: relative;
    --width-of-op: 300px;
  }
  
  .op-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .op-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .op-alt:focus + .op-border-alt {
    width: 100%;
  }
  